html,body {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.square {
  width: 400px;
  height: 200px;
  background-color: #ccc;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .top-left {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fc0;

    //relative solution
    //position: relative;
    //top: -50px;
    //left: -50px;

     //absolute solution
    position: absolute;
    top: -50px;
    left: -50px;
  }

  .bottom-right {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fc0;

    //relative solution
    //position: relative;
    //top: 50px;
    //left: 350px;

     //absolute solution
    position: absolute;
    bottom: -50px;
    right: -50px;
  }
}


